<div id="idci-pop-in-{{ id }}" class="modal fade idci-pop-in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{ title|raw }}
            </div>
            <div class="modal-body">
                {{ content|raw }}
            </div>
            <div class="modal-footer">
                {{ footer|raw }}
            </div>
        </div>
    </div>
</div>