<div id="idci-pop-in-{{ id }}" class="idci-pop-in alert alert-dismissible fade in text-center" role="alert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{ title|raw }}
            </div>
            <div class="modal-body">
                {{ content|raw }}
                <a class="btn btn-default" data-dismiss="alert" data-toggle="alert" href="#">Close</a>
            </div>
        </div>
    </div>
</div>